In [1]:
import pandas as pd
import datetime
from pathlib import Path

In [2]:
basepath = Path('C:/Users/a681760/OneDrive - ATOS/Projetos/VWCO/dataset').absolute()
inputfile =  f'{basepath}/entrada/QASC_contatosNovembro.csv'

try:
    report_df = pd.read_csv(inputfile, lineterminator='\n',dtype=str)
except Exception as e:
    print(e)

report_df = report_df.map(lambda x: x.strip() if isinstance(x, str) else x)
report_df.rename(columns={'customDimensions_Telefone\r': 'Telefone'}, inplace=True)

report_df.head(2)

              timestamp [UTC]      id       Telefone
0  11/29/2024, 5:50:07.503 PM  373065  5593991844848
1  11/29/2024, 5:50:06.523 PM  373064  5566996318589

In [3]:
report_df['timestamp'] = pd.to_datetime(report_df['timestamp [UTC]'], format='%m/%d/%Y, %I:%M:%S.%f %p')
report_df['timestamp-br'] = report_df['timestamp']

if "timestamp [UTC]" in report_df.columns :
    del report_df['timestamp [UTC]'] 

if 'timestamp' in report_df.columns :
    del report_df['timestamp'] 

if 'id'in report_df.columns :
    del report_df['id']

if 'timestamp-br' in report_df.columns :
    report_df['Data']  = pd.to_datetime(report_df['timestamp-br'], format='%m/%d/%Y')
    report_df['Data'] = report_df['Data'].dt.strftime('%d/%m/%Y')
    del report_df['timestamp-br'] 

nova_ordem = [ 'Data', 'Telefone']
report_df= report_df[nova_ordem]

report_df.head(2)

         Data       Telefone
0  29/11/2024  5593991844848
1  29/11/2024  5566996318589

In [4]:
outpath = f'{basepath}/saida/QASCs_'+str(datetime.datetime.now().strftime('%d-%m-%Y'))+'.xlsx'
report_df.to_excel(outpath, sheet_name="Report", engine='xlsxwriter', index=False)